@model IEnumerable<MoneyTemplate.Models.ViewModels.SpendingTrackerViewModel>

@{
    Layout = null;
    int i = 0;
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(model => model.Type)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
                <th>@Html.DisplayNameFor(model => model.Amoumt)</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amoumt)</td>
                </tr>
            }

        </table>
    </div>
</div>